.overlay {
  /* background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); */
  background: linear-gradient(
    180deg,
    rgba(34, 32, 39, 0) 0%,
    #222027 75.52%,
    #1a1b1e 100%
  );
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  z-index: 1;
  bottom: -30px;
  width: 100%;
  height: 100%;
}

.metadata_parent {
  position: relative;
  z-index: 2;
  /* bottom: 10px; */
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 55px 55px 10px 55px;
}

.metadata {
  display: flex;
  color: white;
  bottom: 30px;
  left: 0;
  /* margin-bottom: 24px; */
  align-items: center;
  gap: 15px;
}

.metadata_item {
  display: flex;
  background: rgba(112, 108, 108, 0.7);
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 5px 13px;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid rgba(161, 161, 161, 0.945);
  border-radius: 999px;
}

.content {
  margin-top: 30px;
}

.title {
  font-size: 36px;
  margin-top: 5px;
  font-weight: 600;
  color: #fffbff;
  line-height: 38px;
  z-index: 1;
}

.title_secondary {
  font-size: 18px;
  font-weight: 400;
  color: #c0bac0;
  line-height: 24px;
  z-index: 1;
}

.content {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px 50px;
}

.description {
  font-size: 16px;
  line-height: 26px;
}

.episode_list {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  gap: 10px;
  max-height: 200px;
  overflow-y: auto;
}

.episode_list::-webkit-scrollbar {
  width: 5px;
}

.episode_list::-webkit-scrollbar-track {
  background-color: #302c2c;
  border-radius: 100px;
}

.episode_list::-webkit-scrollbar-thumb {
  background-color: #b8b3b3;
  border-radius: 100px;
}

.characters {
  display: flex;
  margin-bottom: 16px;
  gap: 20px;
  width: 100%;
  padding-bottom: 10px;
  cursor: pointer;
  overflow-x: auto;
}

.character {
  white-space: nowrap;
  user-select: none;
  display: flex;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 4px 15px;
  background-color: rgba(75, 68, 68, 0.7);
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  line-height: 24px;
}

.character_image {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}

.character_data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.character_name {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fffbff;
}

.character_role {
  font-size: 12px;
  font-weight: 400;
  color: #c0bac0;
}

.characters::-webkit-scrollbar {
  height: 5px;
}

.characters::-webkit-scrollbar-track {
  background-color: #302c2c;
}

.characters::-webkit-scrollbar-thumb {
  background-color: #b8b3b3;
}

@media (max-width: 600px) {
  .episode_list {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 400px) {
  .episode_list {
    grid-template-columns: repeat(4, 1fr);
  }

  .metadata_parent {
    padding: 50px 30px 10px 30px;
  }

  .content {
    padding: 15px 30px;
  }
}
